body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

/* Google logo */
.app-logo {
    display: block;
    margin: 15vh auto 30px;
    position: relative;
    width: 272px;
    height: auto;
}
@media (max-width: 800px) {
    .app-logo {
        width: 235px;
    }
}

/* List styles */
.app-list--inline li {
    display: inline;
}
.app-list--inline li:nth-last-child(1) {
    margin: 0;
}

/* Search input */
.app-search {
    background-color: #fff;
    border: 1px solid #dfe1e5;
    display: block;
    margin: 0 auto 20px;
    position: relative;
    border-radius: 24px;
    height: 44px;
    max-width: 584px;
}
@media (max-device-width: 981px) {
    .app-search {
        border-radius: 34px;
        height: 66px;
        width: 95%;
    }
}

.app-search:hover,
.app-search:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.app-search input:focus {
    outline: 0;
}

.app-search--icon {
    color: #9aa0a6;
    display: inline-block;
    height: 20px;
    fill: currentColor;
    line-height: 24px;
    margin: 12px 0;
    margin-left: 12px;
    position: relative;
    width: 20px;
}
@media (max-device-width: 981px) {
    .app-search--icon {
        height: 34px;
        width: 34px;
        line-height: 34px;
        margin: 16px 0;
        margin-left: 16px;
    }
}
.app-search--icon svg {
    height: 100%;
    width: 100%;
}

.app-search input {
    border: 0;
    display: block;
    font-size: 16px;
    margin: 0;
    height: 100%;
    width: calc(100% - 70px);
    padding: 0;
    position: absolute;
    left: 40px;
    top: 0;
}
@media (max-device-width: 981px) {
    .app-search input {
        width: calc(100% - 100px);
        left: 60px;
    }
}

.app-search-buttons {
    margin: 0 auto;
    text-align: center;
}

.app-button {
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.app-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

/* Header */
.app-nav--header {
    display: flex;
    justify-content: space-between;
    padding: 16px 25px 0 10px;
    align-items: center;
}

.app-link--header {
    padding-left: 15px;
    margin: 0;
}

.app-header--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Icon links */
.app-icon-list {
    display: flex;
    justify-content: flex-start;
}

.app-icon-list a {
    display: block;
    padding: 0;
    overflow: hidden;
    outline: none;
}

.app-link--icon {
    background-image: url('//ssl.gstatic.com/gb/images/i2_2ec824b0.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    height: 30px;
    width: 30px;
    text-indent: -10000px;
}
.app-link--icon:hover,
.app-link--icon:focus {
    opacity: .85;
}

.app-link--avatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 15px;
}
.app-link--avatar:hover,
.app-link--avatar:focus {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.app-link--avatar img {
    position: relative;
    left: -1px;
    top: -1px;
}

/* Footer */
.app-footer {
    background: #f2f2f2;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.app-footer--country {
    border-bottom: 1px solid #e4e4e4;
    padding: 0 30px;
}
.app-footer--country-title {
    color: rgba(0,0,0,.54);
    font-size: 15px;
    line-height: 40px;
}

.app-footer--links {
    padding: 0 30px 0 3px;
    line-height: 40px;
}
@media only screen and (min-width: 981px) {
    .app-footer--links {
        display: flex;
        justify-content: space-between;
    }
}

/* Links */
.app-link {
    text-decoration: none;
}
.app-link:hover {
    text-decoration: underline;
}

.app-link--header {
    font-size: 13px;
    color: #000;
    line-height: 24px;
}

.app-list--apps {
    padding-right: 13px;
}

.app-link--footer {
    color: rgb(95, 99, 104);
    padding-left: 27px;
}

/* Overwrites */
.app-visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}